:root {
  --background-color: #f8f8fa;
}

body {
  text-align: center;
  background-color: var(--background-color);
  overflow: hidden;
}

.vertical-center {
  height: 100vh;
}

.clickable {
  cursor: pointer;
}
